<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <property name="log.moduleName" value="content-center" />
    <property name="log.base" value="${log.dir:-logs}/${log.moduleName}" />
    <property name="log.max.size" value="100MB" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--为了防止进程退出时，内存中的数据丢失，请加上此选项-->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>